body{
    background-color: #121212;
}

.heading{
    color: white;
    position: absolute;right: 45%;
}

.currency{
 position: absolute;left: 5%;
 top: 1%;
 font-size: 30px;
 color: white;
 
}

#arrow{
 position: absolute;left: 65%;
 top: 35px;
 
}

#arrowDown{
    position: absolute;left: 65%;
    top: 35px;
    
   }


   #arrowEth{
    position: absolute;left: 62%;
    top: 35px;
    
   }
   
   #arrowDownEth{
       position: absolute;left: 62%;
       top: 35px;
       
      }
      #arrowTeth{
        position: absolute;left: 65%;
        top: 35px;
        
       }
       
       #arrowDownTeth{
           position: absolute;left: 65%;
           top: 35px;
           
          }


.price{
    position: absolute;left: 40%;
    color: white;
    top: 5%;
}

.bitcoinWrap{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    position: absolute;top: 10%;
    max-width: 420px;
    justify-content: center;
    align-items: center;
 
   
}

.ethWrap{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    position: absolute;top: 30%;
    max-width: 420px;
    justify-content: center;
    align-items: center;
}

.tethWrap{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    position: absolute;top: 50%;
    max-width: 420px;
    justify-content: center;
    align-items: center;
}